.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: aqua;
}
.second-level-menu > li:hover { background: aqua; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: aqua;
}
.top-level-menu > li:hover { background: aqua; }

.top-level-menu li:hover > ul
{
    display: inline;
}




.top-level-menu a
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    padding: 0 0 0 10px;

    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: aqua; }
