body {
    background-color: beige;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.top-level-menu li {
    background: aqua;
    float: left;
}

.top-level-menu a {
    color: white;
    font: bold 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 30px;
    padding: 0 10px;
}

.top-level-menu li:hover ul {
    border: 2px solid red;
}


/*
.top-level-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.top-level-menu > li {
    float: left;
    height: 30px;
    width: 150px;
    background: aqua; 
}

.top-level-menu > li:hover {
    background: black;
}

.top-level-menu li:hover > ul {
    display: block;
    border: 2px solid red;
}

.top-level-menu a {
    font: bold 14px Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 0 0 0 10px;
    display: block;
    line-height: 30px;
}
*/
/*
.top-level-menu a:hover {
    color: white;
}
*/
/*
.second-level-menu {
    list-style: none;
}

.second-level-menu > li {
    list-style: none;
    height: 30px;
    width: auto;
    background: aqua;
}

.second-level-menu > a:hover {
    background: black;
}


.second-level-menu > li:hover > ul {
    display: inline;
}

.second-level-menu > li > a {
    font: bold 14px Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 0 0 0 10px;
    line-height: 30px;
    background: aqua;
}

.second-level-menu > li > a:hover {
    color: white;
}
*/
