body {
    background-color: beige;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.top-level-menu > li {
    background: aqua;
    float: left;
}

.top-level-menu a {
    color: white;
    font: bold 14px Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 30px;
    padding: 0 10px;
}

.top-level-menu li:hover {
    background: black;
}

.second-level-menu {
    display: none;
}

.top-level-menu li:hover ul {
    display: block;
}

.second-level-menu > li {
    background: aqua;
}

.second-level-menu li:hover {
    background: black;
}
